In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
print("libraries imported ")

libraries imported

In [3]:
df= pd.read_csv("Bengaluru_House_Data.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
num_col=df.describe(exclude="O")

In [7]:
num_col

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [8]:
cat_col=df.describe(include="O")

In [9]:
cat_col

,area_type,availability,location,size,society,total_sqft
count,13320,13320,13319,13304,7818,13320
unique,4,81,1305,31,2688,2117
top,Super built-up Area,Ready To Move,Whitefield,2 BHK,GrrvaGr,1200
freq,8790,10581,540,5199,80,843

In [10]:
df.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [11]:
df.shape

(13320, 9)

In [12]:
df.duplicated().sum()

529

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.shape

(12791, 9)

In [15]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5328
total_sqft         0
bath              73
balcony          605
price              0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [18]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
...,...,...,...,...,...,...,...,...,...
13308,Built-up Area,Ready To Move,Bannerghatta Road,3 BHK,Baanise,1527,3.0,1.0,142.00
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7144 entries, 0 to 13318
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     7144 non-null   object
 1   availability  7144 non-null   object
 2   location      7144 non-null   object
 3   size          7144 non-null   object
 4   society       7144 non-null   object
 5   total_sqft    7144 non-null   object
 6   bath          7144 non-null   float64
 7   balcony       7144 non-null   float64
 8   price         7144 non-null   float64
dtypes: float64(3), object(6)
memory usage: 558.1+ KB

In [20]:
df.value_counts('size')

size
2 BHK        3232
3 BHK        2869
1 BHK         339
4 BHK         332
4 Bedroom     192
3 Bedroom     120
2 Bedroom      16
5 Bedroom      16
1 RK           10
5 BHK           9
6 BHK           3
6 Bedroom       3
11 BHK          1
7 BHK           1
9 BHK           1
Name: count, dtype: int64

In [21]:
df.value_counts('total_sqft')

total_sqft
1200           168
1100           100
1000            75
1500            72
1300            68
              ...
2560             1
2563 - 2733      1
1493             1
2582             1
999              1
Name: count, Length: 1682, dtype: int64

In [22]:
df.value_counts('bath')

bath
2.0    4055
3.0    1981
4.0     437
1.0     412
5.0     181
6.0      71
7.0       4
9.0       3
Name: count, dtype: int64

In [23]:
df.value_counts('balcony')

balcony
2.0    2934
1.0    2836
3.0     973
0.0     401
Name: count, dtype: int64

In [24]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [25]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
...,...,...,...,...,...,...,...,...,...
13308,Built-up Area,Ready To Move,Bannerghatta Road,3 BHK,Baanise,1527,3.0,1.0,142.00
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [26]:
df=df.drop("area_type",axis=1)

In [27]:
df=df.drop("availability",axis=1)

In [28]:
df=df.drop("society",axis=1)

In [29]:
df=df.drop("location",axis=1)

In [30]:
# df.drop(columns=["area_type","availability","society","location"])

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
encoder = LabelEncoder()

In [33]:
encoder = LabelEncoder()

In [34]:
for i in ['size','total_sqft']:
    df[i]=encoder.fit_transform(df[i])

In [35]:
df.dtypes

size            int32
total_sqft      int32
bath          float64
balcony       float64
price         float64
dtype: object

In [36]:
x= df.drop('price',axis=1)
y= df[['price']]

In [37]:
x

       size  total_sqft  bath  balcony
0         3          63   2.0      1.0
1         8        1128   5.0      3.0
3         5         551   3.0      1.0
5         3         192   2.0      1.0
11        8        1163   5.0      3.0
...     ...         ...   ...      ...
13308     5         557   3.0      1.0
13314     5         725   3.0      3.0
13315    10        1262   4.0      0.0
13317     3         159   2.0      1.0
13318     7        1367   4.0      1.0

[7144 rows x 4 columns]

In [38]:
y

        price
0       39.07
1      120.00
3       95.00
5       38.00
11     295.00
...       ...
13308  142.00
13314  112.00
13315  231.00
13317   60.00
13318  488.00

[7144 rows x 1 columns]

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
x_train

       size  total_sqft  bath  balcony
8396      5         700   3.0      2.0
3217      5         862   4.0      1.0
12812     3           0   2.0      1.0
10665     5        1058   4.0      3.0
3446      5         787   3.0      2.0
...     ...         ...   ...      ...
6931      5         643   3.0      1.0
9600      3         187   2.0      2.0
9670      3         224   2.0      3.0
10000     3         275   1.0      3.0
1499      3        1552   2.0      1.0

[5715 rows x 4 columns]

In [41]:
x_test

       size  total_sqft  bath  balcony
6735      5         531   3.0      1.0
8498      3          64   2.0      1.0
550       5        1261   5.0      2.0
11064     3         287   2.0      3.0
850       3         130   2.0      0.0
...     ...         ...   ...      ...
1001      5         806   3.0      2.0
111       5         447   2.0      2.0
5782      0        1400   1.0      1.0
1347      5        1006   4.0      2.0
12502     5         853   3.0      1.0

[1429 rows x 4 columns]

In [42]:
y_train

        price
8396   103.00
3217    95.00
12812   29.00
10665  340.00
3446    94.00
...       ...
6931   175.00
9600    45.00
9670    42.00
10000   60.00
1499    69.09

[5715 rows x 1 columns]

In [43]:
y_test

         price
6735   135.000
8498    65.000
550    260.000
11064   65.000
850     58.935
...        ...
1001   100.000
111     75.000
5782    29.440
1347   127.000
12502  150.000

[1429 rows x 1 columns]

In [44]:
from sklearn.tree import DecisionTreeRegressor

In [45]:
dtc=DecisionTreeRegressor(max_depth=2,random_state=42)

In [46]:
dtc.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=2, random_state=42)

In [47]:
dtc.score(x_train,y_train)

0.46133759709139055

In [48]:
dtc.score(x_test,y_test)

0.41496574047250223

In [49]:
from sklearn.ensemble import RandomForestRegressor

In [50]:
rfr= RandomForestRegressor()

In [51]:
rfr.fit(x_train,y_train)

c:\Users\ayush\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [52]:
rfr.score(x_train,y_train)

0.9322593795313404

In [53]:
rfr.score(x_test,y_test)

0.5308467790087325

In [54]:
import joblib,pickle

In [55]:
joblib.dump(rfr,'randomforestregressor.lb')

['randomforestregressor.lb']

In [56]:
from sklearn.svm import SVR

In [57]:
svr = SVR()

In [58]:
svr.fit(x_train,y_train)

c:\Users\ayush\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [59]:
svr.score(x_train,y_train)

0.13214270028657016

In [60]:
svr.score(x_test,y_test)

0.17658242952281833

In [61]:
from sklearn.ensemble import VotingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [62]:
algo= [
    ('rfr',RandomForestRegressor()),
    ('dtc',DecisionTreeRegressor()),
    ('svr',SVR())
]

In [63]:
voting_model = VotingRegressor(estimators=algo)

In [64]:
voting_model.fit(x_train,y_train)

c:\Users\ayush\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\ensemble\_voting.py:604: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

VotingRegressor(estimators=[('rfr', RandomForestRegressor()),
                            ('dtc', DecisionTreeRegressor()), ('svr', SVR())])

In [65]:
voting_model.score(x_train,y_train)

0.8540297872123866

In [73]:
voting_model.score(x_test,y_test)

0.587264390020654

In [66]:
y_pred = voting_model.predict(x_test)

In [67]:
from sklearn.metrics import accuracy_score

In [68]:
y_test

         price
6735   135.000
8498    65.000
550    260.000
11064   65.000
850     58.935
...        ...
1001   100.000
111     75.000
5782    29.440
1347   127.000
12502  150.000

[1429 rows x 1 columns]

In [69]:
df

       size  total_sqft  bath  balcony   price
0         3          63   2.0      1.0   39.07
1         8        1128   5.0      3.0  120.00
3         5         551   3.0      1.0   95.00
5         3         192   2.0      1.0   38.00
11        8        1163   5.0      3.0  295.00
...     ...         ...   ...      ...     ...
13308     5         557   3.0      1.0  142.00
13314     5         725   3.0      3.0  112.00
13315    10        1262   4.0      0.0  231.00
13317     3         159   2.0      1.0   60.00
13318     7        1367   4.0      1.0  488.00

[7144 rows x 5 columns]